# Ports
HTTP_PORT=3000
HTTPS_PORT=3001
VNC_PORT=5900
RDP_PORT=3389

# User/Group
PUID=1000
PGID=1000

# Selkies Web UI
# CUSTOM_USER=
# PASSWORD=

#VNC_PASSWORD=

# Shared Memory
SHM_SIZE=1gb

# Ports (for host mode)
#CUSTOM_PORT=3000
#CUSTOM_HTTPS_PORT=3001
